 <div class="col-md-12 text-center">
        <div class="text-center mt-4">
          <h1 class="display-4 mb-4">Defectors File Upload</h1>
        </div>
        <form action="fileupload" method="post" enctype="multipart/form-data"><br>
           <div class="row justify-content-md-center">
             <input type="text" placeholder="Title (optional)" name="title" class="form-control col-md-3 text-center"><br><br>
           </div>
           <input type="file" name="filetoupload" class="btn btn-outline-secondary"><br><br>
           <button type="submit" class="btn btn-secondary">Submit</button>
         </form>
      </div>
<!-- JAVASCRIPTS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>